.contact__container {
    margin-top: 60px;
}

.contanct__content {
    margin-top: 70px;
    
}

.contact__content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.github {
    width: 80px !important;
    height: 80px !important;
}

@media screen and (max-width : 992px){
    .contact__content img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-top: -20px;
    }
    
    .github {
        width: 60px !important;
        height: 60px !important;
    }
    
}